<%- include("../includes/head.ejs")%>
<link href="../../styles/style.css" rel="stylesheet"/>
</head>
<body>
    <div class=" h-100v w-[100%] bg-gradient-to-r from-indigo-500 via-orange-500 to-pink-500 flex items-center justify-center">
        <div class="h-max w-[60%] bg-black bg-opacity-60 backdrop-blur-lg text-white rounded-lg flex items-center  flex-col">
            <h1 class="text-2xl font-neucha mt-5">SignUp</h1>
            <form action="<%=postSignUp%>" method="post" class="mt-10 h-max w-[80%] flex flex-col  items-center" >
                <div class="h-[10vh] w-[100%]  flex flex-col m-5">
                    <label>E-mail</label>
                    <input type="email" name="email" class="h-[80%] text-black pl-5 outline-none focus:border-2 focus:border-black"/>
                </div>
                <div class="h-[10vh] w-[100%]  flex flex-col m-5">
                    <label>Password</label>
                    <input type="password" name="password" class="h-[80%] outline-none text-black pl-5 focus:border-2 focus:border-black"/>
                </div>
                <div class="h-[10vh] w-[100%]  flex flex-col m-5">
                    <label>Confirm Password</label>
                    <input type="password" name="confirmpassword"  class="h-[80%] outline-none text-black pl-5 focus:border-2 focus:border-black"/>
                </div>
                <button class="h-10v w-[40%]  bg-red-500 mb-5 hover:shadow-xl hover:bg-green-500 hover:shadow-[#ffffff2f]" type="submit">Sign Up</button>
            </form>

        </div>
    </div>
</body>
</html>