<%- include("../includes/head.ejs")%>
<link href="../../styles/style.css" rel="stylesheet"/>

</head>
<body>
    <div  class="h-100v w-12/12 bg-contain bg-center bg-no-repeat
    flex items-center justify-center " style="background-image:url('../../assets/login.svg') ;">
       
    </div>
</body>
</html>