<%- include("./includes/head.ejs")%>
<link href="../../styles/style.css" rel="stylesheet"/>
<body>
    <div  class="h-100v w-12/12 object-contain bg-center bg-no-repeat
    flex items-center  justify-center" style="background-image:url('../../assets/index.svg') ;">
        <div class="h-40v w-[30%] bg-teal-500 rounded-3xl mr-5 cursor-pointer shadow-2xl shadow-black">
            user
        </div>

        <div class="h-40v w-[30%] bg-teal-500 rounded-3xl ml-5 cursor-pointer shadow-2xl shadow-black">
            admin
        </div>
        
    </div>
</body>
</html>