*{
    margin: 0%;
    padding: 0%;
}

.box{
    height: 100vh;
    width: 100%;
    background-color: #e7e8ec;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box{
    height: 80vh;
    width: 60%;
    background-color: white;
    box-shadow: 2px 2px 10px rgb(66, 65, 65);
    display: flex;
    align-items: center;
}

.img{
    width: 60%;
    height: 60%;
    object-fit: fill;
}

.price-box{
    height: 10%;
    width: max-content;
}